.sub-subtitle.accent-1,
.amount.accent-1 {
  color: var(--accent-color1);
}
.sub-subtitle.accent-2,
.amount.accent-2 {
  color: var(--accent-color2);
}
.sub-subtitle.accent-3,
.amount.accent-3 {
  color: var(--accent-color3);
}
.sub-subtitle.accent-4,
.amount.accent-4 {
  color: var(--accent-color4);
}
.sub-subtitle.accent-5,
.amount.accent-5 {
  color: var(--accent-color5);
}
.sub-subtitle.accent-6,
.amount.accent-6 {
  color: var(--accent-color6);
}
.sub-subtitle.accent-7,
.amount.accent-7 {
  color: var(--accent-color7);
}

.budget-card.accent-1 {
  border: 4px solid var(--accent-color1);
}
.budget-card.accent-2 {
  border: 4px solid var(--accent-color2);
}
.budget-card.accent-3 {
  border: 4px solid var(--accent-color3);
}
.budget-card.accent-4 {
  border: 4px solid var(--accent-color4);
}
.budget-card.accent-5 {
  border: 4px solid var(--accent-color5);
}
.budget-card.accent-6 {
  border: 4px solid var(--accent-color6);
}
.budget-card.accent-7 {
  border: 4px solid var(--accent-color7);
}

.row.accent-1 > progress::-webkit-progress-value,
.btn-small.accent-1,
.budget-name.accent-1 {
  background-color: var(--accent-color1);
}
.row.accent-2 > progress::-webkit-progress-value,
.btn-small.accent-2,
.budget-name.accent-2 {
  background-color: var(--accent-color2);
}
.row.accent-3 > progress::-webkit-progress-value,
.btn-small.accent-3,
.budget-name.accent-3 {
  background-color: var(--accent-color3);
}
.row.accent-4 > progress::-webkit-progress-value,
.btn-small.accent-4,
.budget-name.accent-4 {
  background-color: var(--accent-color4);
}
.row.accent-5 > progress::-webkit-progress-value,
.btn-small.accent-5,
.budget-name.accent-5 {
  background-color: var(--accent-color5);
}
.row.accent-6 > progress::-webkit-progress-value,
.btn-small.accent-6,
.budget-name.accent-6 {
  background-color: var(--accent-color6);
}
.row.accent-7 > progress::-webkit-progress-value,
.btn-small.accent-7,
.budget-name.accent-7 {
  background-color: var(--accent-color7);
}

.accent-1 {
  fill: var(--accent-color1);
  color: var(--accent-color1);
}
.accent-2 {
  fill: var(--accent-color2);
  color: var(--accent-color2);
}
.accent-3 {
  fill: var(--accent-color3);
  color: var(--accent-color3);
}
.accent-4 {
  fill: var(--accent-color4);
  color: var(--accent-color4);
}
.accent-5 {
  fill: var(--accent-color5);
  color: var(--accent-color5);
}
.accent-6 {
  fill: var(--accent-color6);
  color: var(--accent-color6);
}
.accent-7 {
  fill: var(--accent-color7);
  color: var(--accent-color7);
}