{% extends 'layout.html' %} {% block title %}Account Details{% endblock %}
<!-- Head block-->
{% block script %}
<script src="../static/javascript/dialog.js" defer></script>
{% endblock %}
{% block header %}
<a href="/account"
  ><button class="btn btn-secondary btn-small">Account</button></a
>
<a href="/logout"><button class="btn btn-small">logout</button></a>
{% endblock %}

<!-- Body block -->
{% block body %}
<div class="container dashboard">
  <h1 class="title">Account Details</h1>
  <table class="info">
    <tr class="item">
      <th>Name</td>
      <td>{{ current_user.name }}</td>
    </tr>
    <tr class="item">
      <th>Username</td>
      <td>{{ current_user.username }}</td>
    </tr>
    <tr class="item">
      <th>Change Password</td>
      <td>
        <form action="/change-password" method="post" class="form">
          {{ form.hidden_tag() }}
          <div class="form-control">
            {{ form.password(size=32, class="input") }} {%
            for error in form.password.errors %}
            <span class="form-error">{{ error }}</span>
            {% endfor %}
          </div>
          <div class="form-control">
            {{form.password_confirmation(size=32, class="input") }} {% for error in
            form.password_confirmation.errors %}
            <span class="form-error">{{ error }}</span>
            {% endfor %}
          </div>
          <div class="form-buttons">{{ form.submit(class="btn btn-primary") }}</div>
        </form>
      </td>
    </tr>
    <tr>
      <th>Delete Account</th>
      <td><a href="#"><button class="btn" id="open-dialog">Delete</button></a></td>
    </tr>
  </table>
</div>

<dialog class="confirm">
  <div class="dialog-container">
    <h3 class="subtitle">Are you sure?</h3>
    <div class="buttons">
      <a href="delete-user"><button class="btn btn-red btn-small">Yes</button></a>
      <a href="#" id="cancel"><button class="btn btn-small">Cancel</button></a>
    </div>
  </div>
</dialog>
<dialog>
  <p>Greetings, one and all!</p>
  <form method="dialog">
    <button>OK</button>
  </form>
</dialog>
{% endblock %}
