{% extends 'layout.html' %}


<!-- Head block-->
{% block header %}
<a href="/logout" class="btn">logout</a>
{% endblock %}

<!-- Body block -->
{% block body %}
<div class="container dashboard">
  <h1 class="title">Welcome back, <span class="highlight">{{ current_user.name }}</span></h1>
  <div class="create">
    <div class="card budget">
      <h3 class="sub-subtitle">Create Budget</h3>
      <form action="/new-budget" method="post" novalidate>
        {{ budget_form.hidden_tag() }}
        <div class="form-control">
          {{ budget_form.name.label}}
          {{ budget_form.name(class="input")}}
          {% for error in budget_form.name.errors %}
            <p><span style="color: red;">[{{ error }}]</span></p>
          {% endfor %}
        </div>
        <div class="form-control">
          {{ budget_form.amount.label}}
          {{ budget_form.amount(class="input")}}
          {% for error in budget_form.amount.errors %}
            <p><span style="color: red;">[{{ error }}]</span></p>
          {% endfor %}
        </div>
        {{ budget_form.submit(class="btn btn-small") }}
      </form>
    </div>
    {% if current_user.budgets %}
  
    <div class="card expense">
      <h3 class="sub-subtitle">Add Expense</h3>
      <form action="/new-expense" method="post">
        {{ expense_form.hidden_tag() }}
        <div class="expense-wrapper">
          <div class="form-control">
            {{ expense_form.name.label}}
            {{ expense_form.name(class="input")}}
          </div>
          <div class="form-control">
            {{ expense_form.amount.label}}
            {{ expense_form.amount(class="input")}}
          </div>
        </div>
        <div class="form-control">
          <label for="category">Category</label>
          <select name="budget" id="budget" class="input select" required>
            {% with budgets = current_user.budgets %}
              <option value="" disabled selected>Select budget</option>
                {% for budget in budgets %}
                  <option value="{{ budget.id }}">{{ budget.name }}</option>
                {% endfor %}
            {% endwith %}
        </select>
        </div>
        {{ expense_form.submit(class="btn btn-small") }}
      </form>
    </div>
    {% endif %}

  </div>
  <h2 class="subtitle">Budgets</h2>
  <div class="budgets-container">
    {% for budget in current_user.budgets %}
    <div class="budget-card {{ budget.color }}">
      <div class="row">
        <h3 class="sub-subtitle row-title {{ budget.color }}">{{ budget.name }}</h3>
        <p class="amount {{ budget.color }}">{{ budget.amount }} Budgeted</p>
      </div>
      <div class="row {{ budget.color }}">
        <progress max="{{ budget.amount }}" value="{{ budget.spent }}"></progress>
      </div>
      <div class="row progress-text">
        <small>{{ budget.spent }} spent</small>
        <small>{{ budget.amount - budget.spent }} remaining</small>
      </div>
      <div class="row">
        <a href="#"><button class="btn btn-small {{ budget.color }}">details</button></a>
      </div>
    </div>
    {% endfor %}
  </div>
  <h2 class="subtitle">Expenses</h2>
  <table>
    <table>
      <tr>
        <th>Name</th>
        <th>Amount</th>
        <th>Date Added</th>
        <th>Budget</th>
      </tr>
      {% for budget in current_user.budgets %}
        {% for expense in budget.expenses %}
          <tr>
            <td>{{ expense.name }}</td>
            <td>{{ expense.amount }}</td>
            <td>{{ expense.date_added }}</td>
            <td>{{ budget.name }}</td>
          </tr>
        {% endfor %}
      {% endfor %}

    </table>
</div>
{% endblock %}
