{% extends 'layout.html' %}

{% block title %}Dashboard{% endblock %}

<!-- Head block-->
{% block header %}
<a href="/logout" ><button class="btn btn-small">logout</button></a>
{% endblock %}

<!-- Body block -->
{% block body %}
<div class="container dashboard">
  <h1 class="title">Welcome, <span class="highlight">{{ current_user.name }}</span></h1>
  <div class="create">
    <div class="card budget">
      <h3 class="sub-subtitle">Create Budget</h3>
      <form action="/new-budget" method="post" novalidate>
        {{ budget_form.hidden_tag() }}
        <div class="form-control">
          {{ budget_form.name.label}}
          {{ budget_form.name(class="input", size=20)}}
          {% for error in budget_form.name.errors %}
          <span class="form-error">{{ error }}</span>
          {% endfor %}
        </div>
        <div class="form-control">
          {{ budget_form.amount.label}}
          {{ budget_form.amount(class="input", size=20)}}
          {% for error in budget_form.amount.errors %}
          <span class="form-error">{{ error }}</span>
          {% endfor %}
        </div>
        {{ budget_form.submit(class="btn btn-small") }}
      </form>
    </div>

    {% if current_user.budgets %}
    <div class="card expense">
      <h3 class="sub-subtitle">Add Expense</h3>
      <form action="/new-expense" method="post">
        {{ expense_form.hidden_tag() }}
        <div class="expense-wrapper">
          <div class="form-control">
            {{ expense_form.expense_name.label}}
            {{ expense_form.expense_name(class="input", size=20)}}
          </div>
          <div class="form-control">
            {{ expense_form.expense_amount.label}}
            {{ expense_form.expense_amount(class="input", size=20)}}
          </div>
        </div>
        <div class="form-control">
          <label for="category">Category</label>
          <select name="budget" id="budget" class="input select" required>
            {% with budgets = current_user.budgets %}
              <option value="" disabled selected>Select budget</option>
                {% for budget in budgets %}
                  <option value="{{ budget.id }}">{{ budget.name }}</option>
                {% endfor %}
            {% endwith %}
          </select>
        </div>
        {{ expense_form.expense_submit(class="btn btn-small") }}
      </form>
    </div>
    {% endif %}
  </div>

  {% if current_user.budgets %}
  <h2 class="subtitle">Budgets</h2>
  <div class="budgets-container">
    {% for budget in current_user.budgets %}
    <div class="budget-card {{ budget.color }}">
      <div class="row">
        <h3 class="sub-subtitle row-title {{ budget.color }}">{{ budget.name }}</h3>
        <p class="amount {{ budget.color }}">{{ curr_f(budget.amount) }} Budgeted</p>
      </div>
      <div class="row {{ budget.color }}">
        <progress max="{{ budget.amount }}" value="{{ budget.spent }}"></progress>
      </div>
      <div class="row progress-text">
        <small>{{ curr_f(budget.spent) }} spent</small>
        {% if budget.amount - budget.spent < 0 %}
        <small class="warn">{{  curr_f(budget.spent - budget.amount) }} overbudget</small>
        {% else %}
        <small>{{ curr_f(budget.amount - budget.spent) }} remaining</small>
        {% endif %}
      </div>
      <div class="row">
        <a href="/budgets/{{ budget.name }}"><button class="btn btn-small {{ budget.color }}">details</button></a>
      </div>
    </div>
    {% endfor %}
  </div>
  {% endif %}

  {% if current_user.expenses %}
  <h2 class="subtitle">Expenses</h2>
  <table>
    <table>
      <tr>
        <th>Name</th>
        <th>Amount</th>
        <th>Date Added</th>
        <th>Budget</th>
        <th></th>
      </tr>
        {% for expense in current_user.expenses %}
          <tr>
            <td>{{ expense.name }}</td>
            <td>{{ curr_f(expense.amount) }}</td>
            <td>{{ moment(expense.date_added).calendar() }}</td>
            <td><span class="budget-name {{ expense.budget.color }}"><a href="/budgets/{{ expense.budget.name }}">{{ expense.budget.name }}</a></span></td>
            <td>
              <form action="/delete-expense" method="post">
                <input type="text" name="expense-id" id="" value="{{ expense.id }}" hidden />
                <button class="delete-expense" type="submit">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    height="20"
                    viewBox="0 -960 960 960"
                    width="24"
                    class="{{ expense.budget.color }}"
                  >
                    <path
                      d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z"
                    />
                  </svg>
                </button>
              </form>
            </td>
          </tr>
      {% endfor %}
    </table>
    {% endif %}
</div>
{% endblock %}
