{% extends 'layout.html' %}

<!--Script link-->
{% block script %}
{{ super() }}
{% endblock %}

<!--Body block-->
{% block body %}
<div class="container homepage">
  <div class="home-text">
    <h1 class="home-title">
      Take Charge<br />of<span class="highlight">&nbsp;Your Finances</span>
    </h1>
    <p class="quote">
      <span class="quote-text"
        >“{{quote["quote"]}}”</span
      >
      - {{quote["author"]}}
    </p>
    <a href="/login"><button id="login-btn" class="btn">log in</button></a>
  </div>
</div>
{% endblock %}
