{% extends 'layout.html' %}

<!--Body block-->
{% block body %}
<div class="container homepage">
  <div class="home-text">
    <h1 class="home-title">
      Take Charge<br />of<span class="highlight">&nbsp;Your Finances</span>
    </h1>
    <p class="quote">
      <span class="quote-text"
        >“{{quote["quote"]}}”</span
      >
      - {{quote["author"]}}
    </p>
    <button id="login-btn" class="btn">log in / sign up</button>
  </div>
</div>
<dialog id="login-dialog">
  <div class="tabs-container">
    <button class="btn tab active-tab">Log in</button>
    <button class="btn tab">Sign up</button>
  </div>
  
  <div class="forms-container">

    <form action="/login" method="post" class="form active-form">
      <h3>Login to <span class="highlight">X</span>pense</h3>

      {{ login_form.hidden_tag() }}
      <div class="form-control">
        {{ login_form.username.label}}
        {{ login_form.username(size=32, class="input") }}
        {% for error in login_form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
      </div>
      <div class="form-control">
        {{ login_form.password.label}}
        {{ login_form.password(size=32, class="input") }}
        {% for error in login_form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
      </div>
      <div class="form-buttons">
        {{ login_form.submit(class="btn btn-primary") }}
        <input
          type="button"
          value="cancel"
          class="btn btn-secondary cancel"
          id="form-cancel"
        />
      </div>
    </form>
    <form action="/signup" method="post" class="form">
      <h3>Signup to <span class="highlight">X</span>pense</h3>

      {{ signup_form.hidden_tag() }}
      <div class="form-control">
        {{ signup_form.name.label}}
        {{ signup_form.name(size=32, class="input") }}
        {% for error in signup_form.name.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
        
      </div>
      <div class="form-control">
        {{ signup_form.username.label}}
        {{ signup_form.username(size=32, class="input") }}
        {% for error in signup_form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
      </div>
      <div class="form-control">
        {{ signup_form.password.label}}
        {{ signup_form.password(size=32, class="input") }}
        {% for error in signup_form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
      </div>
      <div class="form-control">
        {{ signup_form.password_confirm.label}}
        {{ signup_form.password_confirm(size=32, class="input") }}
        {% for error in signup_form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
      </div>
      <div class="form-buttons">
        {{ signup_form.submit(class="btn btn-primary") }}
        <input
          type="button"
          value="cancel"
          class="btn btn-secondary cancel"
          id="form-cancel"
        />
      </div>
    </form>
    
  
    
    
    
    
    
    
    
    
    <!-- <form class="form active-form" action="/login" method="post">
      <h3>Login to <span class="highlight">X</span>pense</h3>
      <div class="form-control">
        <label for="username">Username</label>
        <input class="input" type="text" name="username" id="username" />
      </div>
      <div class="form-control">
        <label for="password">Password</label>
        <input class="input" type="password" name="password" id="password" />
      </div>
      <div class="form-buttons">
        <input type="submit" value="submit" class="btn btn-primary" />
        <input
          type="button"
          value="cancel"
          class="btn btn-secondary cancel"
          id="form-cancel"
        />
      </div>
    </form>

    <form class="form" action="/signup" method="post">
      <h3>Signup to <span class="highlight">X</span>pense</h3>
      <div class="form-control">
        <label for="name">First Name</label>
        <input class="input" type="text" name="name" id="name" />
      </div>
      <div class="form-control">
        <label for="username">Username</label>
        <input class="input" type="text" name="username" id="username" />
      </div>
      <div class="form-control">
        <label for="password">Password</label>
        <input class="input" type="password" name="password" id="password" />
      </div>
      <div class="form-control">
        <label for="confirm-password">Confirm Password</label>
        <input class="input" type="confirm-password" name="confirm-password" id="confirm-password" />
      </div>
      <div class="form-buttons">
        <input type="submit" value="submit" class="btn btn-primary" />
        <input
          type="button"
          value="cancel"
          class="btn btn-secondary cancel"
        />
      </div>
    </form> -->
  </div>

</dialog>

{% endblock %}
