<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&family=Source+Sans+3:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/css/reset.css" />
    <link rel="stylesheet" href="../static/css/style.css" />
    {% block script %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    
    <!-- Flask messages -->
    {% with messages = get_flashed_messages() %}
    <!---->
    {% if messages %}
    <ul class="flashes">
      {% for message in messages %}
      <li class="flash-message">{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %} {% endwith %}
    <!---->

    <header>
      <div class="logo">
        <h1><span class="highlight">X</span>spense</h1>
      </div>
      {% block header %}{% endblock %}
    </header>
    {% block body %}{% endblock %}
    <footer>
      <img src="./static/images/footer_img.svg" alt="footer image" />
    </footer>
  </body>
</html>
